################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/config/applicationhost.config
*.dtbcache
*.lock
